<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.rus.showsace">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.MagnetActivity" />
        <activity android:name=".activities.StickersActivity" />
        <activity android:name=".activities.SodaActivity" />
        <activity android:name=".activities.SouvenirsActivity" />
        <activity android:name=".activities.BasketActivity" />
        <activity android:name=".activities.EmptyBasketActivity" />
        <activity android:name=".activities.DeliverActivity" />
        <activity android:name=".activities.FinishActivity" />
        <activity android:name=".activities.EmptyBasketActivity3" />
        <activity android:name=".activities.RegActivity" />
        <activity android:name=".activities.ForgotActivity" />
        <activity android:name=".activities.LawsActivity"></activity>
    </application>

</manifest>